.root {
	-fx-font-family: "Bradley Hand ITC";
    -fx-focus-color: #b200ff;
}

.button{
	-fx-text-fill: #b200ff;	
	-fx-background-color : #7878fe;
}

.tab-pane{
	-fx-background-color : hotpink;
	-fx-background-image: url("unicorn3.png");
	-fx-background-repeat: repeat;   
    -fx-background-size: 73 80;
}

.tab-pane .content{
	-fx-background-color : hotpink;
	-fx-background-image: url("unicorn.png");
	-fx-background-repeat: repeat;   
    -fx-background-size: 80 80;
}

.tab-pane .tab-content-area{
	-fx-background-color : hotpink;
	-fx-background-image: url("unicorn2.png");
	-fx-background-repeat: repeat;   
    -fx-background-size: 50 52;
}

.tab-pane .tab-content-area .content{
	-fx-background-color : hotpink;
	-fx-background-image: url("unicorn2.png");
	-fx-background-repeat: repeat;   
    -fx-background-size: 80 80;
}

.tab-pane .tab-content-area .content .content{
	-fx-background-color : hotpink;
	-fx-background-image: url("unicorn2.png");
	-fx-background-repeat: repeat;   
    -fx-background-size: 80 80;
}

.tab-pane .tab-header-area .tab{
	-fx-background-color : lightpink;
}

.scroll-pane{
	-fx-background-color : hotpink;
	-fx-background-image: url("unicorn.png");
	-fx-background-repeat: repeat;   
    -fx-background-size: 80 80;
}

.scroll-pane .viewport{
	-fx-background-color : hotpink;
	-fx-background-image: url("unicorn.png");
	-fx-background-repeat: repeat;   
    -fx-background-size: 80 80;
}

.scroll-pane .viewport .*{
	-fx-background-color : hotpink;
	-fx-background-image: url("unicorn.png");
	-fx-background-repeat: repeat;   
    -fx-background-size: 80 80;
}

.text-area{
	-fx-background-color : lightpink;
	-fx-font-family: "Comic Sans MS";
	-fx-text-fill: hotpink;
}

.text-area .scroll-pane{
	-fx-background-color : lightpink;
	-fx-font-family: "Comic Sans MS";
	-fx-text-fill: hotpink;
}

.text-area .scroll-pane .content{
	-fx-background-color : lightpink;
	-fx-font-family: "Comic Sans MS";
	-fx-text-fill: hotpink;
}

.tree-view{
	-fx-background-color : hotpink;
	-fx-text-fill: #7878fe;	
}

.tree-view .tree-cell{
	-fx-background-color : hotpink;
	-fx-text-fill: #7878fe;	
}

.menu-bar{
	-fx-background-color : hotpink;
	-fx-background-image: url("unicorn2.png");
	-fx-background-repeat: repeat;   
    -fx-background-size: 30 31;
}

.menu-item{
	-fx-background-color : hotpink;
	-fx-text-fill: #7878fe;	
}

.check-box .box{	
	-fx-background-color : lightpink;
	-fx-background-image: url("unicorn2.png");
	-fx-background-size: 15 15;
    -fx-background-position: center center;
	-fx-border-color: #7878fe;	
}